.header{
    width: 100%;
    background: blue;

    justify-content: center;
}

.headerCard{
    width: 100%;

    justify-content: center;
}


.contenedorCard{  
    justify-content: center;
    align-items: center;
}

.mat-card{
    width: 40%;
}

.titulo{
    font-size: 20px;
    font-family: Roboto, "Helvetica Neue", sans-serif;   
}

.titulo2{
    font-size: 30px;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}